.menu-item{
	border: 2px solid white;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.menu-item .submenu{
	height: 40px;
	width: 120px;
	background: green;
	position: absolute;
	cursor: pointer;
}